.dashboard {
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
}

.job_dashboard{
    padding: 32px;
}

.dashboard_side_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 99vh;
    width: 240px;
    padding-top: 22px;
    cursor: pointer;
}

.dashboard_side_bar_up > img {
    margin: auto;
    width: 162px;
}

.dashboard_side_bar_up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.dashboard_side_tabs {
    display: flex;
    flex-direction: column;
    padding: 32px 0px 32px 20px;
}

.dashboard_side_link {
    display: flex;
    padding: 16px 0px 16px 16px;
    align-items: center;
    gap: 12px;
    width: 220px;
    align-self: stretch;
    border-radius: 12px 0px 0px 12px;
    text-decoration: none;
    cursor: pointer;
}

.dashboard_side_link_active {
    background: var(--Text-Color-15, #DADDE0);
}

.job_header {
    display: flex;
    padding: 20px 32px;
    position: fixed;
    justify-content: space-between;
    margin-left: 240px;
    background-color: white;
    z-index: 1;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--Text-Color-15, #DADDE0);
}

.header_box {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header_box img {
    cursor: pointer;
}

.header_box div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--Text-Color-60, #6D7685);
    font-family: Onest;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 16.1px */
}

.job_header {
    display: flex;
    padding: 20px 32px;
    justify-content: space-between;
    align-items: center;
    width: calc(99vw - 240px);
    align-self: stretch;
    border-bottom: 1px solid var(--Text-Color-15, #DADDE0);
}

.dashboard_content {
    height: 90vh;
    margin-left: 240px;
    margin-top: 60px;
}

.job_dashboard_title{
    display: flex;
    padding: 0px 22px 22px 22px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    color: var(--Text-Color-100, #0B1B33);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.job_table_thead{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: var(--Text-Color-75, #485466);
}

.job_table_th{
    display: flex;
    padding: 16px;
    color: var(--Text-Color-15, #DADDE0);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 25vw;
    align-self: stretch;
    background: var(--Text-Color-75, #485466);
}

.job_table_td{
    padding: 16px;
    text-align: start;
    border-bottom: 1px solid var(--Text-Color-15, #DADDE0);
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .job_table_td_name{
    justify-content: start;
}

.job_table_tbody{
    display: flex;
    padding: 16px;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
}

.pagination_boxes{
    display: flex;
    padding: 32px 48px;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    align-self: stretch;
}

.pagination_box{
    display: flex;
    align-items: flex-start;
    width: 40px;
    height: 40px;
    padding: 9px 18px;
    justify-content: center;
    gap: 8px;
    border-radius: 4px;
    background: #F3F7F7;
}

.pagination_next{
    background: transparent;
    border: none;
}

.job_table_select{
    display: flex;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--Text-Color-15, #DADDE0);
    border-right: 16px solid transparent;
    padding: 9px 18px;
    align-items: center;
    gap: 8px;
}

.job_table_td_action{
    color: var(--Primary-Color-100, #2557A7);
    font-size: 14px;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    height: 40px;
    padding: 9px 18px;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    border: 1px solid var(--Primary-Color-100, #2557A7);
}

.app_table_td_name{
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.app_table_td_name div{
    color: var(--Text-Color-60, #6D7685);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.messages_inbox{
    margin-top: 60px;
    padding: 0 32px;
    display: flex;
}

.read_unread_box{
    display: flex;
}

.read_clicked{
    background-color: white;
    color: #0a53be;
    border: 2px solid #0a53be;
}

.message_left{
    display: flex;
    width: 450px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--Text-Color-15, #DADDE0);
}

.messages_boxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 100%;
}

.messages_box{
    display: flex;
    padding: 20px;
    width: 100%;
    gap: 15px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid var(--Text-Color-15, #DADDE0);
    white-space: nowrap;
    flex-direction: column;
}

.message_title{
    display: flex;
    justify-content: space-between;
    color: var(--Text-Color-90, #243147);
    font-size: 20px;
    font-style: normal;
    width: 100%;
    font-weight: 500;
    line-height: normal;
}

.message_desc{
    color: var(--Text-Color-60, #6D7685);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 160% */
}

.read_count{
    display: flex;
    width: 20px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    color: var(--Light-Color-100, #FFF);
    font-family: Raleway;
    font-size: 20px;
    padding: 0 5px;
    font-style: normal;
    font-weight: 500;
    border-radius: 60%;
    background: var(--Primary-Color-100, #2557A7);
    line-height: normal;
}

.message_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
}

.message_right h2{
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.message_right img{
    width: 407px;
    height: 351px;
    border-radius: 20px;
}
.message_right p{
    color: var(--Text-Color-60, #6D7685);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28; /* 160% */
}